body {
  background-color: beige;
  font-family: fantasy;
}

display: inline

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
li a {
  color: silver;
}

button {
  background-color: navy;
  color: white;
}

.del input {
  background-color: navy;
  color: white;
  height: 30px;
  width: 40px;
  font-size: 10px;
}

input {
  height: 80px;
  width: 250px;
  font-size: 30px;
}

.topnav {
  background-color: silver;
  color: white;
}

a:link {
  padding: 30px;
  text-decoration: none;
}

.topnav a.active {
  background-color: violet;
  color: white;
}

.topnav a:hover {
  background-color: black;
  color: silver;
}
